<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Drizvato"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>租房通 - 你的便捷租房专家</title>

    <!-- Custom CSS -->
    <link href="assets/css/styles.css" rel="stylesheet">

    <!-- Custom Color Option -->
    <link href="assets/css/colors.css" rel="stylesheet">

</head>

<body class="yellow-skin">

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader"></div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- Start Navigation -->
    <div th:replace="common/front-bar::#front-header"></div>
    <!-- End Navigation -->
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->


    <!-- ============================ Hero Banner  Start================================== -->
    <div class="image-cover hero_banner" style="background:url(assets/img/banner-3.jpg) no-repeat;" data-overlay="4">
        <div class="container">

            <h1 class="big-header-capt mb-4">你的便捷租房专家</h1>

            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8">

                    <div class="full_search_box nexio_search lightanic_search hero_search-radius style-2">
                        <div class="search_hero_wrapping">
                            <div class="row">

                                <div class="col-lg-9 col-md-9 col-sm-12 small-padd">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <form id="search_from" action="search">
                                            <input name="key" type="text" class="form-control b-0" placeholder="输入城市、地区、规格、关键词查询...">
                                             </form>
                                            <i class="ti-target"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-3 col-sm-12 small-padd">
                                    <div class="form-group">
                                        <a href="javascript: $('#search_from').submit()" class="btn search-btn bg-2">搜索一下</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Hero Banner End ================================== -->

    <!-- ============================ Featured Property Start ================================== -->
    <section class="gray-simple">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8">
                    <div class="sec-heading center">
                        <h2>最新房源</h2>
                        <p>租房通房产网为您提供全国各地房产信息，在此有大量房产信息供您选择，每天都有几十万条房源信息更新，人工审核真实有效，欢迎您使用租房通房产网。</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Property -->
                <div th:each="room: ${rooms}" class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single_property_style property_style_2 modern">

                        <div class="listing_thumb_wrapper">
                            <div class="property_gallery_slide-thumb">
                                <a th:href="@{room(id=${room.id})}"><img th:src="${room.img}"
                                                         class="img-fluid mx-auto" alt=""></a>
                            </div>
                            <div class="uilist_view_thumb">
                                <a th:href="@{room(id=${room.id})}" class="uilist-btn text-warning" data-toggle="tooltip"
                                   th:data-original-title="${room.lookCount + '次浏览'}"><i class="ti-eye"></i></a>
                                <a th:if="${session.loginUser != null and room.favorId == null}" th:onclick="like([[${room.id}]], [[${session.loginUser.id}]])" class="uilist-btn text-danger" data-toggle="tooltip"
                                   data-original-title="收藏"><i class="ti-heart"></i></a>
                                <a th:if="${session.loginUser != null and room.favorId != null}" th:onclick="unLike([[${room.favorId}]])" class="uilist-btn text-danger" data-toggle="tooltip"
                                   data-original-title="取消收藏"><i class="ti-heart-broken"></i></a>
                            </div>
                        </div>

                        <div class="property_caption_wrappers pb-0">
                            <div class="property_short_detail">
                                <div class="pr_type_status">
                                    <h4 class="pr-property_title mb-1"><a th:href="@{room(id=${room.id})}" th:text="${room.title}"></a></h4>
                                    <div class="listing-location-name" th:text="${room.subTitle}"></div>
                                    <div style="margin-top: 5px" class="listing-location-name" th:text="${room.detail.address}"></div>
                                    <div style="margin-top: 5px" class="listing-location-name" th:text="${room.detail.rentType}"></div>
                                    <div style="margin-top: 20px" class="listing-location-name" th:text="${'发布于' + #dates.format(room.updateTime,'yyyy-MM-dd HH:mm:ss')}"></div>
                                </div>
                                <div class="property-real-price"><a th:href="@{room(id=${room.id})}" class="cl-blue">
                                   [[${room.monthPrice}]]元 <span class="price_status">/ 月</span></a></div>
                            </div>
                        </div>

                        <div class="modern_property_footer">
                            <div class="property-lists flex-1">
                                <ul>
                                    <li><span class="flatcons"><img src="assets/img/bed.svg" alt=""></span>卧室：[[${room.detail.bedroomCount}]] </li>
                                    <li><span class="flatcons"><img src="assets/img/bath.svg" alt=""></span>卫生间：[[${room.detail.restroomCount}]]</li>
                                </ul>
                            </div>
                            <div class="fp_types bg-success color--white" th:text="${room.detail.status}"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <a href="search" class="btn btn-theme arrow-btn bg-2">全部房源<span><i
                            class="ti-arrow-right"></i></span></a>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Featured Property End ================================== -->

    <!-- ============================ Footer Start ================================== -->
    <div th:replace="common/front-bar::#footer"></div>
    <div th:replace="common/front-bar::#login"></div>
    <div th:replace="common/front-bar::#signup"></div>
    <!-- ============================ Footer End ================================== -->

    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ion.rangeSlider.min.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/slider-bg.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/imagesloaded.js"></script>
<script src="assets/js/daterangepicker.js"></script>
<script src="assets/js/custom.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="common/utils/reg.js"></script>
<script src="common/layer/layer.js"></script>
<script src="common/custom.js"></script>
</body>
</html>