<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--关于MyBatis的一些常用配置-->
    <settings>
        <!--放开下面的注释将打印 SQL 日志-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!-- 开启驼峰命名自动转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--
     ==========================================================================
     郑重说明：本项目免费开源！原创作者为：薛伟同学，严禁私自出售。
     ==========================================================================
     B站账号：薛伟同学
     微信公众号：薛伟同学
     作者博客：http://xuewei.world
     ==========================================================================
     陆陆续续总会收到粉丝的提醒，总会有些人为了赚取利益倒卖我的开源项目。
     不乏有粉丝朋友出现钱付过去，那边只把代码发给他就跑路的，最后还是根据线索找到我。。
     希望各位朋友擦亮慧眼，谨防上当受骗！
     ==========================================================================
    -->
</configuration>

